<article class="ticket">
  <form class="form-vertical">
    <div class="control-group">
      <label class="control-label" for="summary">Status</label>
      <div class="controls">
        {{view Ember.Select content=statuses value=model.status}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="summary">Summary</label>
      <div class="controls">
        {{input value=model.summary}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="summary">Creator</label>
      <div class="controls">
        {{input value=model.creator}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="summary">Description</label>
      <div class="controls">
        {{textarea value=model.description}}
      </div>
    </div>

    <div class="control-group form-actions">
      <button class="sui-bttn sui-bttn-primary" {{action "saveChanges"}}>Save</button>
      <button class="sui-bttn" {{action "cancel"}}>Cancel</button>
    </div>
  </form>
</article>
