<article class="tickets col-md-3">
  <header class="tickets-header">
    <div class="ticket-filters">
      <div class="ticket-filter" {{action 'filterBy' 'all'}}>
        <h3 class="ticket-count">{{meta.all}}</h3>
        <p class="ticket-category">All</p>
      </div>
      <div class="ticket-filter" {{action 'filterBy' 'open'}}>
        <h3 class="ticket-count">{{meta.open}}</h3>
        <p class="ticket-category">Open</p>
      </div>
      <div class="ticket-filter" {{action 'filterBy' 'closed'}}>
        <h3 class="ticket-count">{{meta.closed}}</h3>
        <p class="ticket-category">Closed</p>
      </div>
    </div>
  </header>  
  {{ticket-list tickets=filteredTickets}}
</article>

{{outlet}}
