{{outlet}}

{{#unless isEditing}}
  <article class="ticket">
    <div class="ticket-header">
      <div class="actions">
        {{#if isClosed}}
          <button class="sui-bttn" {{action "toggleStatus"}}>Reopen</button>
        {{else}}
          <button class="sui-bttn sui-bttn-primary" {{action "toggleStatus"}}>Close</button>
        {{/if}}
        {{link-to 'Edit' 'ticket.edit' classNames='edit sui-bttn'}}
      </div>
      <img class="avatar-image-large" src={{model.avatar_url}} />
      <h3>
        {{model.summary}}
      </h3>
      <div class="byline">
        {{model.creator}} | created on {{moment model.created_at "llll"}} 
      </div>
    </div>
    <div class="ticket-details">
      <p>{{model.description}}</p>
    </div>
  </article>
{{/unless}}
