{{outlet}}

{{#unless isEditing}}
  <article class="ticket">
    <div class="ticket-header">
      <div class="actions">
        <button class="sui-bttn">Open</button>
        {{link-to 'Edit' 'ticket.edit' classNames='edit sui-bttn'}}
      </div>
      <span class="ticket-id">{{prettyId}}</span>
      <div class="byline-area">
        <p class="meta byline">
          created on {{model.created_at}} 
        </p>
      </div>
      <h3>
        {{model.summary}}
      </h3>
      <p><strong>Created by</strong>&nbsp;{{model.creator}}</p>
    </div>
    <div class="ticket-details">
      <p>{{model.description}}</p>
    </div>
  </article>
{{/unless}}
